<html>
    <head>
    <title>robot?</title>
    </head>
    <body>
        <form method = 'post' action = '/process'>
            <p>are you a robot?<input type="radio" name = "robot" value='yes' id="yes"><label for = 'yes'>Yes</label><input type="radio" name = "robot"  value='no' id="no"><label for = 'no'>No</label></p>
            <p>What is 0 divided by 0?<input type = "text" name = "zero"></p>
            <p>what is your favorite food?
                <select name = "food">
                    <option>human food</option>
                    <option>robot food</option>
                </select>
            </p>
            <button type = "submit">I am not a robot</button>
        </form>
    </body>
</html>