<html>
    <head>
        <title>chat</title>
    </head>
    <body>
        <a href="/logout"><button>Log out</button></a>
        <form action = '/chatresult' method = 'post'>
            <p>Message:<input type="text" name="message"></p>
            <button type="submit">Send</button>
        </form>
        <ul>
            {% for entry in rows %}
            <li>{{entry[1]}}</li>
            <li>Message : {{entry[2]}}</li>
            <hr>
            {% endfor %}
        </ul>
    </body>
</html>