<!-- created a page for favorite video games instead of social media links-->
<html>
    <head>
        <link href="{{ url_for('static', filename='day75.css')}}" rel="stylesheet" type="text/css" />
        <title>videogames</title>
    </head>
    <body>
        <h2>my top 10 most played video games of all time</h2>
        <h3></h3>
        <h4>from most played to least played</h4>
        <h3></h3>
        <p><a href= "https://www.warframe.com" >WarFrame</a></p>
        <img class = warframe src = "{{ url_for('static', filename='day75warframe.jpeg')}}" >
        <p><a href= "https://www.minecraft.net" >Minecraft</a></p>
        <img class = minecraft src = "{{ url_for('static', filename='day75minecraft.jpeg')}}" >
        <p><a href= "https://terraria.org/news" >Terraria</a></p>
        <img class = terraria src = "{{ url_for('static', filename='day75terraria.jpeg')}}" >
        <p><a href= "https://www.leagueoflegends.com" >League Of legends</a></p>
        <img class = league src = "{{ url_for('static', filename='day75leagueoflegends.jpeg')}}" >
        <p><a href= "https://overwatch.blizzard.com" >Overwatch</a></p>
        <img class = overwatch src = "{{ url_for('static', filename='day75overwatch.jpeg')}}" >
        <p><a href= "https://borderlands.com/en-US/shop/borderlands-2" >Borderlands 2</a></p>
        <img class = b2 src = "{{ url_for('static', filename='day75borderlands2.jpeg')}}" >
        <p><a href= "https://borderlands.com" >Borderlands 3</a></p>
        <img class = b3 src = "{{ url_for('static', filename='day75borderlands3.jpeg')}}" >
        <p><a href= "https://www.bungie.net/7/en/destiny/newlight" >Destiny 2</a></p>
        <img class = destiny src = "{{ url_for('static', filename='day75destiny2.jpeg')}}" >
        <p><a href= "https://www.epicgames.com/infinityblade/en-US/home" >Infinity Blade</a></p>
        <img class = ib src = "{{ url_for('static', filename='day75infinityblade.jpeg')}}" >
        <p><a href= "https://www.vainglorygame.com" >Vainglory</a></p>
        <img class = vainglory src = "{{ url_for('static', filename='day75vainglory.jpeg')}}" >
    </body>
</html>