<!-- created list of favorite websites instead of replit portfolio -->
<html>
<head>
    <link href="{{ url_for('static', filename='day74.css')}}" rel="stylesheet" type="text/css" />
    <title>
        MyFavWebsites
    </title>
</head>
<body>
<h4> click on images to be sent to the site. </h4>
<h3></h3>
<p>1. YouTube Music </p>
<a href = "https://music.youtube.com/" ><img src = "{{ url_for('static', filename='day73youtubemusic.png')}}" ></a>
<p>2. YouTube </p>
<a href = "https://www.youtube.com/" ><img src = "{{ url_for('static', filename='day73youtube.jpg')}}" ></a>
<p>3. Gymshark </p>
<a href = "https://us.shop.gymshark.com/" ><img src = "{{ url_for('static', filename='day73gymshark.jpg')}}" ></a>
<p>4. Chatgpt </p>
<a href = "https://chat.openai.com/" ><img src = "{{ url_for('static', filename='day73chatgpt.png')}}" ></a>
<p>5. IRS </p>
<a href = "https://www.irs.gov/" ><img src = "{{ url_for('static', filename='day73irs.png')}}" ></a>
</html>